@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant blk (&);

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-purple-blockstack: #211f6d;
  --text-2xl-extra: 1.625rem;
  --text-2xl-extra--line-height: 2.17rem;

  --flex-grow-0: 0;
  --flex-grow: 1;
  --flex-shrink-0: 0;
  --flex-shrink: 1;

  --breakpoint-lg: 62rem;
}

@layer base {
  :root {
    --env-safe-area-inset-top: env(safe-area-inset-top);
    --env-safe-area-inset-right: env(safe-area-inset-right);
    --env-safe-area-inset-bottom: env(safe-area-inset-bottom);
    --env-safe-area-inset-left: env(safe-area-inset-left);
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  }

  /* clears the 'X' from Internet Explorer */
  input.hide-clear[type=search]::-ms-clear,
  input.hide-clear[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Webkit */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }

  /* no image context menu when long press */
  img {
    pointer-events: none;
    -webkit-touch-callout: none;
  }

  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .safe-area {
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
  }

  .first-h1-text {
    @apply text-4xl;

    @variant md {
      font-size: 2.625rem;
    }

    @variant lg {
      font-size: 2.95rem;
    }
  }

  .bookmark-icon-left {
    left: 1rem;

    @variant md {
      left: 1.5rem;
    }

    @variant lg {
      left: 2rem;
    }
  }

  .available-on-size {
    width: 100%;
    max-height: 4rem;

    @variant md {
      width: auto;
    }
  }

  .share-android-w {
    width: 44.113258%;
    max-width: 11rem;
  }

  .share-ios-w {
    width: 45.2492219%;
    max-width: 11.275rem;
  }

  .howitwork-pb {
    padding-bottom: 25%;

    @media (min-width: 537px) {
      @apply pb-32;
    }

    @variant lg {
      @apply pb-40;
    }
  }

  .howitwork-gray-pb {
    padding-bottom: 38.5%;

    @media (min-width: 537px) {
      @apply pb-48;
    }

    @variant lg {
      @apply pb-56;
    }
  }

  .start-saving-links-img {
    @apply transform-none;

    @variant md {
      transform: translateX(-4.5rem);
    }
  }

  .new-line-in-address-bar {
    @apply hidden;

    @media (min-width: 396px) {
      @apply inline;
    }
  }

  .e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .zoom-range {
    @apply appearance-none h-2 w-32 rounded cursor-ew-resize bg-gray-200 bg-linear-to-r from-gray-400 to-gray-400 bg-no-repeat bg-auto rounded-full;
  }

  .zoom-range::-webkit-slider-runnable-track {
    @apply appearance-none border-0 bg-transparent shadow-none;
  }

  .zoom-range::-webkit-slider-thumb {
    @apply appearance-none border-0 h-4 w-4 bg-gray-500 rounded-full shadow-xs;
  }

  .zoom-range::-moz-range-track {
    @apply appearance-none border-0 bg-transparent shadow-none;
  }

  .zoom-range::-moz-range-thumb {
    @apply appearance-none border-0 h-4 w-4 bg-gray-500 rounded-full shadow-xs;
  }

  .zoom-range-blk {
    /* To suppress eslint warning */
  }

  .blk\:zoom-range-blk {
    @apply bg-gray-700 from-gray-400 to-gray-400;
  }

  .blk\:zoom-range-blk::-webkit-slider-thumb {
    @apply bg-gray-300;
  }

  .blk\:zoom-range-blk::-moz-range-thumb {
    @apply bg-gray-300;
  }
}

/*
  The default outline-none is still applied, plus rules below,
    making the whole outline-none the same as outline-hidden.
  In the long run, should change outline-none to outline-hidden.
*/
@utility outline-none {
  @media (forced-colors: active) {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

/*
  The default ring is just ring-1, plus rules below
    make it like ring-3 ring-blue-500/50.
  In the long run, should use ring-3 ring-blue-500/50 instead.
*/
@utility ring {
  --tw-ring-color: color-mix(in srgb, oklch(62.3% 0.214 259.815) 50%, transparent);
  @supports (color: color-mix(in lab, red, red)) {
    --tw-ring-color: color-mix(in oklab, var(--color-blue-500) 50%, transparent);
  }
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
}
