@keyframes square-spin {
  25% {
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

.square-spin > img {
  animation-fill-mode: both;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}

.lds-ellipsis div {
  position: absolute;
  top: 2.0625rem;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 0.5rem;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 0.5rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 2rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 3.5rem;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1.5rem, 0);
  }
}

.ball-clip-rotate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
}

.ball-clip-rotate > div {
  width: 1.25rem;
  height: 1.25rem;
  background: 0 0!important;
  border-radius: 100%;
  border: 0.0625rem solid rgb(107, 114, 128);
  border-bottom-color: transparent;
  animation: ball-clip-rotate .75s 0s linear infinite;
}

@keyframes ball-clip-rotate {
  0% {
    transform: rotate(0) scale(.8);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(.8);
  }
}

.ball-clip-rotate-blk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
}

.ball-clip-rotate-blk > div {
  width: 1.25rem;
  height: 1.25rem;
  background: 0 0!important;
  border-radius: 100%;
  border: 0.0625rem solid rgb(156, 163, 175);
  border-bottom-color: transparent;
  animation: ball-clip-rotate .75s 0s linear infinite;
}

@keyframes ball-clip-rotate-blk {
  0% {
    transform: rotate(0) scale(.8);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(.8);
  }
}

.blk\:ball-clip-rotate-blk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
}

.blk\:ball-clip-rotate-blk > div {
  width: 1.25rem;
  height: 1.25rem;
  background: 0 0!important;
  border-radius: 100%;
  border: 0.0625rem solid rgb(156, 163, 175);
  border-bottom-color: transparent;
  animation: ball-clip-rotate .75s 0s linear infinite;
}

@keyframes blk\:ball-clip-rotate-blk {
  0% {
    transform: rotate(0) scale(.8);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(.8);
  }
}
