@tailwind components;
@tailwind utilities;

@layer utilities {
  /* These are used ONLY in CardItemContent background */
  .bg-orange-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(253, 186, 116, var(--tw-bg-opacity));
  }

  .bg-orange-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(251, 146, 60, var(--tw-bg-opacity));
  }

  .bg-orange-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 115, 22, var(--tw-bg-opacity));
  }

  .bg-orange-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(234, 88, 12, var(--tw-bg-opacity));
  }

  .bg-orange-700 {
    --tw-bg-opacity: 1;
    background-color: rgba(194, 65, 12, var(--tw-bg-opacity));
  }

  .bg-orange-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(154, 52, 18, var(--tw-bg-opacity));
  }

  .bg-orange-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(124, 45, 18, var(--tw-bg-opacity));
  }

  .bg-teal-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(94, 234, 212, var(--tw-bg-opacity));
  }

  .bg-teal-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(45, 212, 191, var(--tw-bg-opacity));
  }

  .bg-teal-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(20, 184, 166, var(--tw-bg-opacity));
  }

  .bg-teal-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(13, 148, 136, var(--tw-bg-opacity));
  }

  .bg-teal-700 {
    --tw-bg-opacity: 1;
    background-color: rgba(15, 118, 110, var(--tw-bg-opacity));
  }

  .bg-teal-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 94, 89, var(--tw-bg-opacity));
  }

  .bg-teal-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(19, 78, 74, var(--tw-bg-opacity));
  }
}
