@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: 'Inter var';
      font-style: normal;
      font-weight: 100 900;
      font-display: swap;
      font-named-instance: 'Regular';
      src: url("../fonts/Inter/Inter-roman.var.woff2") format("woff2");
    }
    @font-face {
      font-family: 'Inter var';
      font-style: italic;
      font-weight: 100 900;
      font-display: swap;
      font-named-instance: 'Italic';
      src: url("../fonts/Inter/Inter-italic.var.woff2") format("woff2");
    }
  }

  @supports not (font-variation-settings: normal) {
    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 100;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-Thin.fff2a096db014f6239d4.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-Thin.29b9c616a95a912abf73.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 100;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-ThinItalic.bf213704dce6b437ede4.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-ThinItalic.bae95eb2f889c797e435.woff") format("woff");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 200;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-ExtraLight.72505e6a122c6acd5471.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-ExtraLight.c4248615291a9e8f1fb7.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 200;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-ExtraLightItalic.5c7d7d6deb1d2ec8d48c.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-ExtraLightItalic.170dddfca278d3c2ad4a.woff") format("woff");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 300;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-Light.2d5198822ab091ce4305.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-Light.994e34451cc19ede31d3.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 300;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-LightItalic.f86952265d7b0f02c921.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-LightItalic.ef9f65d91d2b0ba9b2e4.woff") format("woff");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 400;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-Regular.c8ba52b05a9ef10f4758.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-Regular.8c206db99195777c6769.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 400;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-Italic.cb10ffd7684cd9836a05.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-Italic.890025e726861dba417f.woff") format("woff");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 500;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-Medium.293fd13dbca5a3e450ef.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-Medium.9053572c46aeb4b16caa.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 500;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-MediumItalic.085cb93e613ba3d40d2b.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-MediumItalic.3d0107dd43d0101274d3.woff") format("woff");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 600;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-SemiBold.b5f0f109bc88052d4000.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-SemiBold.cca62d21c8c555c392e5.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 600;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-SemiBoldItalic.d9467ee321a8f38aefff.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-SemiBoldItalic.463bdbfb28abad0fa6df.woff") format("woff");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 700;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-Bold.ec64ea577b0349e055ad.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-Bold.93c1301bd9f486c573b3.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 700;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-BoldItalic.2d26c56a606662486796.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-BoldItalic.b376885042f6c961a541.woff") format("woff");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 800;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-ExtraBold.cbe0ae49c52c920fd563.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-ExtraBold.d0fa3bb2b7c9063dc594.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 800;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-ExtraBoldItalic.535a6cf662596b3bd6a6.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-ExtraBoldItalic.6ab17abedc4d3f140953.woff") format("woff");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 900;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-Black.15ca31c0a2a68f76d2d1.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-Black.c6938660eec019fefd68.woff") format("woff");
    }
    @font-face {
      font-family: 'Inter';
      font-style:  italic;
      font-weight: 900;
      font-display: swap;
      src: url("https://brace.to/static/media/Inter-BlackItalic.cb2a7335650c690077fe.woff2") format("woff2"),
           url("https://brace.to/static/media/Inter-BlackItalic.ca1e738e4f349f27514d.woff") format("woff");
    }
  }

  html {
    font-family: "Inter", theme(fontFamily.sans);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  }
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", theme(fontFamily.sans);
    }
  }

  /* clears the 'X' from Internet Explorer */
  input.hide-clear[type=search]::-ms-clear,
  input.hide-clear[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Webkit */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }

  /* no image context menu when long press */
  img {
    pointer-events: none;
    -webkit-touch-callout: none;
  }
}

@layer components {

  .first-h1-text {
    @apply text-4xl;
  }

  @screen md {
    .first-h1-text {
      font-size: 2.625rem;
    }
  }

  @screen lg {
    .first-h1-text {
      font-size: 2.95rem;
    }
  }

  .bookmark-icon-left {
    left: 1rem;
  }

  @screen md {
    .bookmark-icon-left {
      left: 1.5rem;
    }
  }

  @screen lg {
    .bookmark-icon-left {
      left: 2rem;
    }
  }

  .available-on-size {
    width: 100%;
    max-height: 4rem;
  }

  @screen md {
    .available-on-size {
      width: auto;
    }
  }

  .share-android-w {
    width: 44.113258%;
    max-width: 11rem;
  }

  .share-ios-w {
    width: 45.2492219%;
    max-width: 11.275rem;
  }

  .howitwork-pb {
    padding-bottom: 25%;
  }

  .howitwork-gray-pb {
    padding-bottom: 38.5%;
  }

  @media (min-width: 537px) {
    .howitwork-pb {
      @apply pb-32;
    }

    .howitwork-gray-pb {
      @apply pb-48;
    }
  }

  @screen lg {
    .howitwork-pb {
      @apply pb-40;
    }

    .howitwork-gray-pb {
      @apply pb-56;
    }
  }

  .start-saving-links-img {
    @apply transform-none;
  }

  @screen md {
    .start-saving-links-img {
      transform: translateX(-4.5rem);
    }
  }

  .new-line-in-address-bar {
    @apply hidden;
  }

  @media (min-width: 396px) {
    .new-line-in-address-bar {
      @apply inline;
    }
  }

  .e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .zoom-range {
    @apply appearance-none h-2 w-32 rounded cursor-ew-resize bg-gray-200 bg-gradient-to-r from-gray-400 to-gray-400 bg-no-repeat bg-auto rounded-full;
  }

  .zoom-range::-webkit-slider-runnable-track {
    @apply appearance-none border-0 bg-transparent shadow-none;
  }

  .zoom-range::-webkit-slider-thumb {
    @apply appearance-none border-0 h-4 w-4 bg-gray-500 rounded-full shadow-sm;
  }

  .zoom-range::-moz-range-track {
    @apply appearance-none border-0 bg-transparent shadow-none;
  }

  .zoom-range::-moz-range-thumb {
    @apply appearance-none border-0 h-4 w-4 bg-gray-500 rounded-full shadow-sm;
  }

  .zoom-range-blk {
    @apply bg-gray-700 from-gray-400 to-gray-400;
  }

  .zoom-range-blk::-webkit-slider-thumb {
    @apply bg-gray-300;
  }

  .zoom-range-blk::-moz-range-thumb {
    @apply bg-gray-300;
  }
}

@layer utilities {
  .hyphens-auto {
    hyphens: auto;
  }

  .pt-full {
    padding-top: 100%;
  }

  .pb-7\/12 {
    padding-bottom: 58.333333%;
  }
}
